
SQL_HOST = "localhost"
SQL_DATABASE = "vacancies" # SQL_DATABASE... in name only A-Z a-z 0-9
SQL_USER = "*******"
SQL_PASS = "*******"

SQL_DATABASE_ADMIN = "postgres"   # SQL_DATABASE_ADMIN... in name only A-Z a-z 0-9